 html {
   /* 設定頁面可滾動，並為滾動條定義時間軸 */
  scroll-timeline-name: --page-scroll;/* 給這個時間軸一個名字 */
    scroll-timeline-axis: block; /* 監聽垂直滾動（Y軸） */
}

body {
  font-family: "Noto Sans TC", serif;
  letter-spacing: 0.02;
}
.fs-14{
  font-size: 14px;
}
.rounded-32{
  border-radius: 32px;
}
.rounded-20{
  border-radius: 20px;
}
.rounded-16{
  border-radius: 16px;
}
.rounded-12{
  border-radius: 12px;
}
.rounded-8{
  border-radius: 8px;
}
.rounded-100{
  border-radius: 100px;
}
.border-line{
  border-bottom: #ECECEC solid 1px;
}
.mw-746{
  max-width: 746px;
  height: auto;
}
.mh-412{
 max-height: 412px;
 width: auto;
}
.ln-12{
  line-height: 1.2;
}
.custom-btn:hover {
  background-color: #2B211C !important; 
  border-color: #2B211C !important;
}
.custom-btns:hover {
  background-color: #4A3830 !important; 
  border-color: #4A3830 !important;
}
.custom-btnm:hover {
  background-color: #4A3830 !important; 
  border-color: #4A3830 !important;
  

}
.custom-btnn:hover {
  background-color: white !important; 
  border-color: white !important;
}
.custom-btnn:hover span{
  color: black;
}
.custom-btnm:hover a {
  color: #F3EEEC;
}
.custom-btns:hover a {
  color: #fff !important;
}
.up{
  clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
}
.down{
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
}
.banner {
  height: 992px;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #221F1E 100%),
    url("https://github.com/0404kai/2025-layout-img/blob/main/week8/banner.jpg?raw=true") 
    no-repeat center center/cover;
  overflow: hidden;
}
.doco{
  background: 
    url("/assets/images/2025-week8/index/deco-bg.svg") 
    no-repeat center center/cover;
  overflow: hidden;
}
.bg{
  background:  
    no-repeat center center/cover;
  overflow: hidden;
}
.svg-bg {
  z-index: 0;   /* 在下面 */
}
p {
  position: relative;
  z-index: 1;   /* 確保文字在上面 */
}
.marquee {
  overflow: hidden;
  p {
    color: #f3eeec;
    font-size: 130px;
    font-weight: bold;
    white-space: nowrap;
    
    animation-name: marquee;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-timing-function: linear;
    @keyframes marquee {
      from {
        transform: translateX(-25%);
      }
      to {
        transform: translateX(0%);
      }
    }
  }
}


.img-wrapper {
  overflow: hidden; /* 防止圖片放大溢出 */
}

.zoom-img {
  transition: transform 0.5s ease; /* 平滑動畫 */
}

.zoom-img:hover {
  transform: scale(1.1); /* 放大 1.1 倍 */
}
.border-top{
  border-top-left-radius:  24px;
  border-top-right-radius: 24px;
}
.border-bottom{
  border-bottom-left-radius:  24px;
  border-bottom-right-radius: 24px;
}
/* 固定在頂端 */
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: transparent; /* 初始全透明 */
  border-bottom: none;
  transition: background 0.01s ease, border-bottom 0.01s ease, backdrop-filter 0.01s ease;
}

.header-fixed.scrolled {
  background: rgba(255, 251, 251, 0.4); /* 半透明白底 */
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);  /* Safari 支援 */
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* icon hover 效果 */
.header-fixed i:hover {
  color: #000; /* 滑過去變深一點 */
}



.swiper {
  overflow: visible;
  overflow-x: clip;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-pagination {
  width: 232px;
  position: relative;
}
.swiper-pagination::after {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-prev:hover {
  background-color: #6c757d;
}
.swiper-button-disabled {
  color: #dee2e6;
  border-color: #dee2e6 !important;
}
.swiper-button-disabled:hover {
  cursor: default;
  background-color: initial !important;
}
.swiper-next:hover {
  background-color: #6c757d;
  color: #DEE2E6;
}

a {
  text-decoration: none;
}
.card-list {
  li {
    position: relative;
    z-index: 1;
    max-width: 416px;
    width: 65%;
    height: 600px;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    transition: all 0.5s;
    padding: 32px;
    &:hover {
      width: 100%;
      a {
        height: auto;
        padding: 20px;
        opacity: 100%;
      }
    }
    &:nth-child(1) {
      background-image: url(https://github.com/0404kai/2025-layout-img/blob/main/week8/product1.jpg?raw=true);
    }
    &:nth-child(2) {
      background-image: url(https://github.com/0404kai/2025-layout-img/blob/main/week8/product2.jpg?raw=true);
    }
    &:nth-child(3) {
      background-image: url(https://github.com/0404kai/2025-layout-img/blob/main/week8/product3.jpg?raw=true);
    }
    &:nth-child(4) {
      background-image: url(https://github.com/0404kai/2025-layout-img/blob/main/week8/product4.jpg?raw=true);
    }
    &:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(#221F1E00 60%, #221F1E60);
    }
    a {
      font-weight: bold;
      color: #000;
      background-color: #fff;
      border-radius: 100px;
      transition: all 0.5s;
      height: 0;
      opacity: 0;
    }
  }
}


.search-overlay {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: white;
  z-index: 2000;
}

/* 當 checkbox 被打勾 → 顯示搜索層，並把 header 蓋掉 */
#search-toggle:checked ~ .search-overlay {
  display: block;
}

/* 讓 header 內容被蓋住 */
header {
  position: relative;
}


